.panel {
  position: absolute;
  left: var(--space-4);
  right: var(--space-4);
  bottom: var(--space-4);
  max-width: 720px;
  margin: auto;
  z-index: 99;

  input {
    background: var(--color-accent-1);
  }
}

@media (min-width: 0px) {
  .tab {
    display: none;
  }
  .tab_mobile {
    display: flex;
  }
}

@media (min-width: 992px) {
  .tab {
    display: flex;
  }
  .tab_mobile {
    display: none;
  }
}
