.panel {
  position: absolute;
  left: var(--space-4);
  right: var(--space-4);
  bottom: var(--space-4);
  max-width: 480px;
  margin: auto;
  z-index: 99;

  input {
    background: var(--color-accent-1);
  }
}
